 <h1>Welcome budget api</h1>
    <p>
      You have successfully created an account.<br/>
      To know how to use the api follow <%=h @url %>.
    </p>
<p>Thanks for joining and have a great day!</p>

    <%= binding.pry %>
    <%= render partial: @template_partial %>
